<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <form action="/<%= url %>/add" method="post">
      <input type="text" name="name" placeholder="Name" required />
      <input type="number" name="price" placeholder="Price" required />
      <input
        type="text"
        name="description"
        placeholder="Description"
        required
      />
      <input type="text" name="image" placeholder="Image" required />
      <input type="submit" value="Add" />
    </form>
    <!-- show content here -->
    <ul>
      <% products.forEach((product) => { %>
      <li>
        <h2><%= product.name %></h2>
        <p><%= product.price %></p>
        <p><%= product.description %></p>
        <img src="<%= product.image %>" alt="<%= product.name %>" />
      </li>
      <% }); %>
    </ul>
  </body>
</html>
